/**************强制改写正常维保率样式隐藏legend*****************/
#rateNormalMaintenance .highcharts-legend-item{
   display:none;
}
#elevatorFailureRatePlatform .highcharts-legend-item{
   display:none;
}


#filureRatePlatformElevator .highcharts-legend-item{
   display:none;
}

/**********************************/
#dtgj {
    width:100%;
    height:100%;
    background:url(../img/dtgj/beijing.png) no-repeat center 0;
 
}
.dtgjCOn {
    width:96vw;
    height:88vh;
    margin:0 auto;
    margin-top:5%;
 
}
    .dtgjCOn > div {
        display:inline-block;
    }
    /*公用样式*/
        .dtgjCOn > div:first-child, .dtgjCOn > div:last-child {
             width:26.5%;
             height:100%;
         
        }
        .dtgjCOn > div:first-child>div, .dtgjCOn > div:last-child>div {
            width:100%;
            height:33.333333%;
            background-color:orange;
           
        }

            /*.dtgjCOn>div:first-child>div:not(:last-child), .dtgjCOn >div:last-child>div:not(:last-child) {
                    margin-bottom:4.5%;
                 }*/


        /*第一个框*/
    .dtgjCOn>div:first-child>div:first-child {
        background:url(../img/dtgj/pingtaizengzhangxinxi.png)  no-repeat center 0;
        background-size: 100% 100%;  
        -moz-background-size: 100% 100%;  
       -webkit-background-size: 100% 100%;  
    }

            /*第一个框1-1-1*/

        .dtgjCOn > div:first-child > div:first-child > div:first-child
        ,.dtgjCOn>div:first-child>div:nth-child(2)>div:first-child
        ,.dtgjCOn>div:first-child>div:last-child>div:first-child
        ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child
        ,.dtgjCOn>div:last-child>div:last-child>div:first-child
        ,.qyChartCon > div:last-child > div:first-child >div:first-child
        ,.qyChartCon > div:last-child > div:nth-child(2) > div:first-child
        ,.qyChartCon > div:last-child > div:last-child > div:first-child
        ,.qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div{
               zoom:1;
               z-index:22;
               float:right;
               margin-top:9%;
               margin-right:4%;
               width:295px;
        }

       .dtgjCOn > div:first-child > div:first-child > div:first-child>div
        ,.dtgjCOn>div:first-child>div:nth-child(2)>div:first-child>div
        ,.dtgjCOn>div:first-child>div:last-child>div:first-child>div
        ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child>div
        ,.dtgjCOn>div:last-child>div:last-child>div:first-child>div
        ,.qyChartCon > div:last-child > div:first-child >div:first-child>div
        ,.qyChartCon > div:last-child > div:nth-child(2) > div:first-child>div
        ,.qyChartCon > div:last-child > div:last-child > div:first-child>div
        ,.qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div>div{
             position:absolute;
             z-index:22;
        }



        .dtgjCOn > div:first-child > div:first-child > div:first-child:after
        ,.dtgjCOn>div:first-child>div:nth-child(2)>div:first-child:after
        ,.dtgjCOn>div:first-child>div:last-child>div:first-child:after
         ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child:after
         ,.dtgjCOn>div:last-child>div:last-child>div:first-child:after
        ,.qyChartCon > div:last-child > div:first-child >div:first-child:after
        ,.qyChartCon > div:last-child > div:nth-child(2) >div:first-child:after
        ,.qyChartCon > div:last-child > div:last-child >div:first-child:after 
        ,.qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div:after{
                    content:"";
                    display:block;
                    overflow:hidden;
                    clear:both;
        }
        .dtgjCOn > div:first-child > div:first-child > div:first-child>div
        ,.dtgjCOn>div:first-child>div:nth-child(2)>div:first-child>div
        ,.dtgjCOn>div:first-child>div:last-child>div:first-child>div
        ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child>div
        ,.dtgjCOn>div:last-child>div:last-child>div:first-child>div
        ,.qyChartCon > div:last-child > div:first-child >div:first-child>div
        ,.qyChartCon > div:last-child > div:nth-child(2) >div:first-child>div
        ,.qyChartCon > div:last-child > div:last-child >div:first-child>div
        ,.qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div>div{
                display:inline-block; 
                color:#088BFE;
                border:1px solid #088BFE;
                padding:4px 14px;
                font-size:14px;
                border-radius:7px;
                cursor:pointer;
        }

                .dtgjCOn > div:first-child > div:first-child > div:first-child>div:not(:last-child)
                ,.dtgjCOn>div:first-child>div:nth-child(2)>div:first-child>div:not(:last-child)
                ,.dtgjCOn>div:first-child>div:last-child>div:first-child>div:not(:last-child) 
                ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child>div:not(:last-child)
                ,.dtgjCOn>div:last-child>div:last-child>div:first-child>div:not(:last-child)
                ,.qyChartCon > div:last-child > div:first-child >div:first-child>div:not(:last-child)
                ,.qyChartCon > div:last-child > div:nth-child(2) >div:first-child>div:not(:last-child)
                ,.qyChartCon > div:last-child > div:last-child >div:first-child>div:not(:last-child)
                ,.qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div>div:not(:last-child){
               
                    margin-right:20px;
        }
            .dtgjCOn > div:first-child > div:first-child > div:first-child > div:hover
            ,.dtgjCOn>div:first-child>div:nth-child(2)>div:first-child>div:hover
            ,.dtgjCOn>div:first-child>div:last-child>div:first-child>div:hover 
            ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child>div:hover
            ,.dtgjCOn>div:last-child>div:last-child>div:first-child>div:hover
            ,.qyChartCon > div:last-child > div:first-child >div:first-child>div:hover
            ,.qyChartCon > div:last-child > div:nth-child(2) >div:first-child>div:hover
            ,.qyChartCon > div:last-child > div:last-child >div:first-child>div:hover
            ,.qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div>div:hover {
                background:url(../img/dtgj/xuanzhong.png)  no-repeat center 0;
                color:white;
            }

             /*第一个框1-1-2*/
        .dtgjCOn > div:first-child > div:first-child > p {
            position:absolute;
            width:25.5%;
            
        }
        .dtgjCOn > div:first-child > div:first-child > p:nth-child(2) {
         
            margin-top:5.2%;
        }
        .dtgjCOn > div:first-child > div:first-child > p:last-child {
            margin-top:9.8%;
        }
        .dtgjCOn > div:first-child > div:first-child >  p:nth-child(2) > span , .dtgjCOn > div:first-child > div:first-child > p:last-child > span {
               
                font-size:160%;
                color:#2FD0FF;
                text-align:center;
                /*position:absolute;*/
                display:inline-block;
                width:27.5%;
                 font-weight:bold;
                
        }

            .dtgjCOn > div:first-child > div:first-child >p >span:first-child {
                    margin-left:3.5%;
            }
            .dtgjCOn > div:first-child > div:first-child >p >span:not(:first-child) {
                    margin-left:5%;
            }

         /*第一个框1-2*/
        .dtgjCOn>div:first-child>div:nth-child(2) {
            background:url(../img/dtgj/yonghuzengzhanglv.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
        }
        


         /*第一个框1-2-1*/
            .dtgjCOn > div:first-child > div:nth-child(2) > div:first-child
            ,.dtgjCOn>div:first-child>div:last-child> div:first-child
            ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child
            ,.dtgjCOn>div:last-child>div:last-child>div:first-child{
                width:140px !important;
            }
           
          /*第一个框1-2-2*/
            .dtgjCOn > div:first-child > div:nth-child(2) > div:last-child
            ,.dtgjCOn>div:last-child>div:last-child>div:last-child
            , .dtgjCOn > div:first-child > div:last-child > div:last-child {
                position:absolute;
                width:25.5%;
                height:24%;
                margin-top:3%;
            }

        /*第一个框1-3*/
        .dtgjCOn>div:first-child>div:last-child {
            background:url(../img/dtgj/diantizengzhangjidiushilv.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
    }
        /*******************1-3-2********************************/


      /*第二个框*/
    .dtgjCOn>div:nth-child(2) {
         height:88vh;
        width:39.5%;
        left:50%;
        position:absolute;
        margin-left:-19.5%;
    
    }
    /*2-1*/
        .dtgjCOn > div:nth-child(2) > div:first-child {
            width:100%;
            height:18.5%;
         
        }


        /*2-1-1*/
         .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:first-child {
             
                position:absolute;
                width:100%;
                margin-top:3.5%;
            }
        .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child >div:first-child> div {
               height:60px;
               width:31%;
               display:inline-block;
            }
            .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:first-child > div:not(:first-child) {
                margin-left:2.5%;
            }
        .dtgjCOn > div:nth-child(2) > div:first-child>div:first-child>div:first-child>div:first-child {
            background:url(../img/dtgj/weibaoqiye.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
        }
        /*<!--2-1-1-1-->*/
            .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:first-child > div:first-child>div
            , .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:first-child > div:nth-child(2)>div 
            ,.dtgjCOn > div:nth-child(2) > div:first-child > div:first-child >  div:first-child > div:last-child>div
            ,.dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:first-child>div
            , .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div:nth-child(2)>div {
            color:#00FFFF;
            width:45%;
            height:40%;
            margin-top:-3%;
            font-size:21px;
            font-weight:bold;
            text-align:center;
            margin-left:45%;

            }
        .dtgjCOn > div:nth-child(2) > div:first-child>div:first-child>div:first-child>div:nth-child(2) {
            background:url(../img/dtgj/pingtaizhucerenshu.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
        }
        .dtgjCOn > div:nth-child(2) > div:first-child>div:first-child>div:first-child>div:last-child {
            background:url(../img/dtgj/pingtaidiantitailiang.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
        }

        /*2-1-2*/
           .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child >div:nth-child(2) {
                 width:100%;
                 position:absolute;
                 margin-top:100px;
            }
            .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) > div {
               height:60px;
               width:31%;
               display:inline-block;
            }

            .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child >div:nth-child(2)> div:first-child {
                    background:url(../img/dtgj/weibaocishu.png)  no-repeat center 0;
                    background-size: 100% 100%;  
                    -moz-background-size: 100% 100%;  
                    -webkit-background-size: 100% 100%;  
                    margin-left:17%;
            }
            .dtgjCOn > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2)> div:nth-child(2) {
                    background:url(../img/dtgj/jixiucishu.png)  no-repeat center 0;
                    background-size: 100% 100%;  
                    -moz-background-size: 100% 100%;  
                    -webkit-background-size: 100% 100%;  
                    margin-left:2%;
            }



       .dtgjCOn > div:nth-child(2) > div:nth-child(2) {
            width:100%;
            height:59%;
          
        }
                 /*第二个框中间那个框*/
        .particleBac, .map {
            position:absolute;
        }
        .particleBac {
            width:115%;
            height:65%;
            left:50%;
            top:50%;
 margin-left:-55%;
            margin-top:-40%;
        
          
        }
        .map {
            width:115%;
            height:65%;
            z-index:2;
            left:50%;
            top:50%;
            margin-left:-55%;
            margin-top:-40%;
      
        }
          /*第二个框中间那个框2-2-3*/

        .dtgjCOn > div:nth-child(2) > div:nth-child(2) > div:last-child
        ,.qyChartCon > div:nth-child(2)>div:nth-child(2)>div:last-child {
  
            cursor:pointer;
            position:absolute;
            margin-top:4%;
            width:150px;
            z-index:3;
        }

        .dtgjCOn > div:nth-child(2) > div:nth-child(2) > div:last-child>div:first-child
        ,.qyChartCon > div:nth-child(2)>div:nth-child(2)>div:last-child>div{
                    height:40px;
                    background:url(../img/dtgj/xuanzhong2.png)  no-repeat center 0;
                    background-size: 100% 100%;  
                    -moz-background-size: 100% 100%;  
                    -webkit-background-size: 100% 100%;  
        }

            .dtgjCOn > div:nth-child(2) > div:nth-child(2) > div:last-child > div > img
             ,.qyChartCon > div:nth-child(2)>div:nth-child(2)>div:last-child>div>img {
                    margin-left:16%;
                    margin-top:8%;
                   position:absolute;
            }

            .dtgjCOn > div:nth-child(2) > div:nth-child(2) > div:last-child > div > span
             ,.qyChartCon > div:nth-child(2)>div:nth-child(2)>div:last-child>div>span {
                  font-size:14px; 
           
                  display:inline-block;
                  height:30px;
                  line-height:30px;
                  width:70px;
                  text-align:center;
                  margin-left:29%;
                  margin-top:6px;
            }

            .dtgjCOn > div:nth-child(2) > div:nth-child(2) > div:last-child > div:first-child > span
            ,.qyChartCon > div:nth-child(2)>div:nth-child(2)>div:last-child>div:first-child>span {
               color:#01F2F4;
            }

            .dtgjCOn > div:nth-child(2) > div:nth-child(2) > div:last-child > div:last-child > span
            ,.qyChartCon > div:nth-child(2)>div:nth-child(2)>div:last-child>div:last-child>span {
        
                   color:#fff;
            }

       .dtgjCOn > div:nth-child(2) > div:last-child {
            width:100%;
            height:22.5%;
            position:absolute;
            z-index:10;
      
        }
        .dtgjCOn > div:nth-child(2) > div:last-child > img {
            margin-top:-5%;
            position:absolute;
        }
        #regionalVisit {
            width:100%;
            height:100%;
        }

      /*第三个框*/

    .dtgjCOn>div:last-child
    ,.dtgjCOn > div:last-child > div:first-child > ul>li>span:last-child
    ,.qyChartCon  > div:first-child> div:last-child > ul>li>span:last-child{
     float:right;
        zoom:1;
    }
    .dtgjCOn>div:last-child:after
    ,.dtgjCOn > div:last-child > div:first-child > ul>li>span:last-child:after
    ,.qyChartCon  > div:first-child> div:last-child > ul>li>span:last-child:after{
        content:"";
        display:block;
        overflow:hidden;
        clear:both;
}
          /*第三个框3-1*/
       .dtgjCOn>div:last-child>div:first-child {
        background:url(../img/dtgj/pingtaishishixinxi.png)  no-repeat center 0;
        background-size: 100% 100%;  
          -moz-background-size: 100% 100%;  
          -webkit-background-size: 100% 100%;  
    }
        .dtgjCOn > div:last-child > div:first-child > ul 
        ,.qyChartCon  > div:first-child> div:last-child > ul{
            position:absolute;
            margin-top:3.7%;
            margin-left:3%;
            width:21%;
            height:168px;
            color:#fff;
            display:block;
            font-size:13px;
      

        }
            .dtgjCOn > div:last-child > div:first-child > ul > li>span
            ,.qyChartCon  > div:first-child> div:last-child > ul > li>span {
                height:15px !important;
  
      
            }
            .dtgjCOn > div:last-child > div:first-child > ul > li
            ,.dtgjCOn > div:last-child > div:first-child > ul > li>span {
            
            }
        .dtgjCOn > div:last-child > div:first-child > ul>li:not(:first-child){
            margin-top:15px;
        }


      /*第三个框3-2*/
         .dtgjCOn>div:last-child>div:nth-child(2) {
            background:url(../img/dtgj/zhengchangweibaolv.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
    }
            .dtgjCOn > div:last-child > div:nth-child(2) > div:last-child {
                position:absolute;
                width:23%;
                height:21%;
                margin-top:3.5%;
                margin-left:1%;
            }


       /*第三个框3-3*/
       .dtgjCOn>div:last-child>div:last-child {
            background:url(../img/dtgj/pingtaidiantiguzhanglv.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
    }



/******************************************************企业数据报表**************************************************************/
#qyChart {
    width:100%;
    height:100%;
    background:url(../img/qy/beijing2.png) no-repeat center 0;
 
}
.qyChartCon {
    width:98vw;
    height:96vh;
    margin:0 auto;
    margin-top:1.3%;

}
    .qyChartCon > div {
        display:inline-block;

    }
    /***********1**********/
    .qyChartCon > div:first-child,.qyChartCon > div:last-child {
        width:27%;
        height:100%;
        zoom:1;

        
    }

     /********111*********/
      .qyChartCon > div:first-child > div:first-child > div:first-child {

      
         zoom:-1;
          position:absolute;
          margin-top:2.5%;
          height:20%;
       
          width:30%;
        }
        .qyChartCon > div:first-child > div:first-child > div:first-child > div {
          zoom:-1;
        }
        .qyChartCon > div:first-child > div:first-child > div:first-child > div {
            height:100%;
            width:48%;
            display:inline-block;
  
        }
        .qyChartCon > div:first-child > div:first-child > div:first-child > div:not(:first-child) {
       
            }

        /********112*********/
        .qyChartCon > div:first-child > div:first-child > div:nth-child(2) {
            margin-left:2%;
          
            width:22.5%;
            height:12%;
            margin-top:12%;
            position:absolute;
        }
            .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div {
                    display:inline-block;
                    font-size:12px;
                    color:white;
            }

            .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div {
                height:100%;
                width:48%;
              
            }
                .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div:last-child {
                    margin-left:4%;
                }
                .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div > div {
                    height:10%;
                    width:100%;
                 
                }
                .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div > div {
                    margin-top:2%;
                    margin-bottom:3%;
                    background-color:red;
                }
       /********1121*********/
                 .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div:first-child>p {
                    text-align:right;
                }
                    .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div:first-child > p > span {
                            margin-right:15px;
                         }
       /********1122*********/
                    .qyChartCon > div:first-child > div:first-child > div:nth-child(2) > div:nth-child(2) > p > span{
                     margin-left:15px;
                }




            /**********************/

      .qyChartCon > div:first-child:after
      ,.qyChartCon > div:last-child:after
      ,.qyChartCon > div:nth-child(2):after {
        content:"";
        display:block;
        overflow:hidden;
        clear:both;
}

    /*************11***************/
        .qyChartCon > div:first-child > div:first-child {
            background:url(../img/qy/shishishuju.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
            height:40%;
             width:100%;
        }



    /*************12***************/
        .qyChartCon  > div:first-child> div:nth-child(2) {
            background:url(../img/qy/nianjianbaobiao.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
            height:31%;
             width:100%;
            
        }
            .qyChartCon > div:first-child > div:nth-child(2) > div {
                height:24%;
                width:25%;
                margin-left:1%;
                margin-top:2%;
                position:absolute;
            }
    /*************13***************/
        .qyChartCon  > div:first-child> div:last-child {
            background:url(../img/qy/pingtaishishixinxi.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
            margin-top:3%;
            height:27%;
             width:100%;
        }

       .qyChartCon > div:first-child > div:last-child > ul {
            margin-top:3% !important;
            }

        .qyChartCon > div:first-child > div:last-child > ul > li:not(:first-child) {
            margin-top:12px;
        }
   /***********2**********/
  .qyChartCon > div:nth-child(2){

        height:95vh;
        position:absolute;
        width:42.5%;
        margin-left:1.4%;
    }
    .qyChartCon > div:nth-child(2) > div {
            zoom:1;
    }
  /***********2-1**********/
  .qyChartCon > div:nth-child(2)>div:first-child{

      width:100%;
      height:10%;
      margin-top:10%;
    }
    .qyChartCon > div:nth-child(2) > div:first-child > div {
        width:18.8%;
        height:100%;
        display:inline-block;
    }
        .qyChartCon > div:nth-child(2) > div:first-child > div:not(:first-child) {
            margin-left:1.5%;
        }
  /***********211**********/
      .qyChartCon > div:nth-child(2) > div:first-child > div:first-child {
            background:url(../img/qy/gongsixiangmushu.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
    }
 /***********2111**********/
       .qyChartCon > div:nth-child(2) > div:first-child > div:first-child>div 
       ,.qyChartCon > div:nth-child(2) > div:first-child > div:nth-child(2)>div
       ,.qyChartCon > div:nth-child(2) > div:first-child > div:nth-child(3)>div
       ,.qyChartCon > div:nth-child(2) > div:first-child > div:nth-child(4)>div
       ,.qyChartCon > div:nth-child(2) > div:first-child > div:nth-child(5)>div {
          color:#2FD0FF;
          font-size:21px;
          width:100%;
          height:60%;
          font-weight:bold;
          text-align:center;
          line-height:260%;
       
    }
  /***********212**********/
      .qyChartCon > div:nth-child(2) > div:first-child > div:nth-child(2) {
            background:url(../img/qy/weibaodiantitailiang.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%; 
    }
  /***********213**********/
      .qyChartCon > div:nth-child(2) > div:first-child > div:nth-child(3) {
            background:url(../img/qy/yuangongrenshu.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;
    }
  /***********214**********/
      .qyChartCon > div:nth-child(2) > div:first-child > div:nth-child(4) {
            background:url(../img/qy/weibaocishu.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;
    }
  /***********215**********/
      .qyChartCon > div:nth-child(2) > div:first-child > div:last-child {
            background:url(../img/qy/jixiucishu.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;
    }
  /***********2-2**********/
  .qyChartCon > div:nth-child(2)>div:nth-child(2){

      width:100%;
      height:57%;
    }
    /***********222**********/
    .qyChartCon > div:nth-child(2) > div:nth-child(2) > div:last-child {
        margin-left:5%;
    }
  /***********2-3**********/
  .qyChartCon > div:nth-child(2)>div:last-child{

      width:100%;
      height:25%;
    }
    .qyChartCon > div:nth-child(2) > div:last-child > div:first-child > div {
        width:220px  !important;
        margin-top:1% !important;
        margin-right:0px !important;
    }
  /*********************2-3-1***********************/
        .qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div>div:nth-child(2){
            margin-left:9%;
        }
        .qyChartCon > div:nth-child(2)>div:last-child>div:first-child>div>div:nth-child(3){
            margin-left:18%;
        }




/*********************************232************************************/
  .qyChartCon > div:nth-child(2)>div:last-child> div:nth-child(2){
      position:absolute;
      width:100%;
      height:24%;
      margin-top:-5%;
    }



 /***********3**********/
  .qyChartCon > div:last-child {
        float:right;
    }

    .qyChartCon > div:last-child > div:nth-child(2) > div:first-child
    ,.qyChartCon > div:last-child > div:last-child > div:first-child {
        width:140px !important;
    }

      /*************31***************/
        .qyChartCon > div:last-child > div:first-child {
            background:url(../img/qy/jishilv.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
            height:31%;
             width:100%;
        }
    /******************3111****************************/
            .qyChartCon > div:last-child > div:first-child > div:first-child > div:nth-child(2)
            ,.qyChartCon > div:last-child > div:nth-child(2) > div:first-child> div:nth-child(2)
            ,.qyChartCon > div:last-child > div:last-child > div:first-child> div:nth-child(2)
            ,.dtgjCOn > div:first-child > div:first-child > div:first-child> div:nth-child(2)
            ,.dtgjCOn>div:first-child>div:nth-child(2)>div:first-child> div:nth-child(2)
            ,.dtgjCOn>div:first-child>div:last-child> div:first-child> div:nth-child(2)
            ,.dtgjCOn>div:last-child>div:nth-child(2)>div:first-child> div:nth-child(2)
            ,.dtgjCOn>div:last-child>div:last-child>div:first-child> div:nth-child(2){
                margin-left:4%;
            }
            .qyChartCon > div:last-child > div:first-child > div:first-child > div:nth-child(3)
            ,.dtgjCOn > div:first-child > div:first-child > div:first-child> div:nth-child(3) {
                margin-left:8%;
            }
            .qyChartCon > div:last-child > div:first-child > div:first-child > div:nth-child(4)
            ,.dtgjCOn > div:first-child > div:first-child > div:first-child> div:nth-child(4) {
                margin-left:12%;
            }


      /*************312-4***************/
            .qyChartCon > div:last-child > div:first-child > div:nth-child(2) {
                position:absolute;
                height:18%;
                width:22%;
                margin-top:4.3%;
                margin-left:2%;
         
            }

            .qyChartCon > div:last-child > div:first-child > div:nth-child(2) > div {
                width:32%;
                height:100%;
                display:inline-block;
         
            }
                .qyChartCon > div:last-child > div:first-child > div:nth-child(2) > div > div {
                    width:100%;
                    height:80%;
                    background:url(../img/qy/yuanhuan.gif)  no-repeat center 0;
                    background-size: 100% 100%;  
                    -moz-background-size: 100% 100%;  
                    -webkit-background-size: 100% 100%; 
         
                }


                .qyChartCon > div:last-child > div:first-child > div:nth-child(2) > div > p {
                    text-align:center;
                    color:#03DCE0;
                    font-size:16px;
                    margin-top:7%;
                    font-weight:800;
                }

                .qyChartCon > div:last-child > div:first-child > div:nth-child(2) > div:not(:first-child) {
                    margin-left:0.7%;
                }


            /*************31211-3***************/
            .qyChartCon > div:last-child > div:first-child > div:nth-child(2) > div > div:first-child
            ,.qyChartCon > div:last-child > div:first-child > div:nth-child(2) > div > div:nth-child(2)
            ,.qyChartCon > div:last-child > div:first-child > div:nth-child(2) > div > div:last-child{
                color:#00FFFF;
                font-size:21px;
                text-align:center;
                height:80%;
                font-weight:bold;
                line-height:720%;

            }







    /*************32***************/
        .qyChartCon  > div:last-child> div:nth-child(2) {
            background:url(../img/qy/zhengchangweibaolv.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
            margin-top:1%;
            height:33.5%;
             width:100%;
               margin-top:1%;
        }
/*******************322**************************/

            .qyChartCon > div:last-child > div:nth-child(2) > div:nth-child(2) {
                position:absolute;
                width:25%;
                height:26%;
                margin-top:2.5%;
                margin-left:1%;
              
             
            }


    /*************33***************/
        .qyChartCon  > div:last-child> div:last-child {
            background:url(../img/qy/pingtaidiantiguzhangzoushi.png)  no-repeat center 0;
            background-size: 100% 100%;  
            -moz-background-size: 100% 100%;  
            -webkit-background-size: 100% 100%;  
            height:33.5%;
             width:100%;
             margin-top:2%;
        }
    /*************332***************/
        .qyChartCon  > div:last-child> div:last-child > div:nth-child(2){
                position:absolute;
                width:25%;
                height:24%;
                margin-top:4%;
                margin-left:1%;
               
        }
